extends base
include _reviwCard

block append head
    //- script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
    //- link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin="")

mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text


block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/products/${product.imageCover}`, alt=`${product.name}`)

        .heading-box
            h1.heading-primary
                span= `${product.name}`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-box')
                    span.heading-box__text= `${product.summary} `
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-box')
                    span.heading-box__text= product.category

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    +overviewBox('Category', product.category, 'trending-up')
                    +overviewBox('Sub Category', product.subCategory, 'trending-up')
                    +overviewBox('Rating', `${product.ratingAverage} / 5`, 'trending-up')


                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your Vendor
                    .overview-box__detail
                        img.overview-box__img(src=`/img/users/${product.vendor.photo}`, alt=`${product.vendor.name}`)
                        span.overview-box__text= product.vendor.name

        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${product.name} `
            - const parapraphs = product.description.split('\n');
            each p in parapraphs
                p.description__text= p

    section.section-pictures
        each img,i in product.images
            .picture-box
                img.picture-box__img(src=`/img/products/${img}`, alt=`product image ${i + 1}`, class=`picture-box__img--${i + 1}`)



    section.section-reviews
        .reviews
            each review in product.reviews
                +reviewCard(review)

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Naproducts logo')
            img.cta__img.cta__img--1(src=`/img/products/${product.images[1]}`, alt='Tour picture')
            img.cta__img.cta__img--2(src=`/img/products/${product.images[2]}`, alt='Tour picture')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text= `${product.summary}. Make it yours today!`
                
                if (user.role === 'admin' && product.status==='waiting')
                    button.btn.btn--green.span-all-rows#approve-product(data-product-id=`${product.id}`) approve !
                else if user
                    button.btn.btn--green.span-all-rows#buy-product(data-product-id=`${product.id}`) Buy now !
                else
                    a.btn.btn--green.span-all-rows(href='/login') Log in to book product
    //- script(src='/js/leaflet.js')